# https://docs.github.com/cn/get-started/getting-started-with-git/configuring-git-to-handle-line-endings

# 自动规范所有基于文本的文件的行结尾（为 LF
* text=auto eol=lf

# 声明在签出时始终以 CRLF 行结尾的文件。
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# 表示所有文件都是真正的二进制文件，不应被修改。
*.{ico,png,jpg,jpeg,gif,webp,svg,woff,woff2} binary
